#Ans1
#string
a="Hi! I am Dishank Arora"
#list
b=[1,"two",3.0,4]
#float
c=3.14
#tuple
d=(5,6,'seven',8.0)

In [ ]:
#Ans2
#var1-str
#var2-str
#var3-list
#var4-float

#Ans3

result = 10 / 3 #division, returns float
print(result)  # Output will be 3.3333333333333335
remainder = 10 % 3  #modulous function, returns remainder
print(remainder)  # Output will be 1
quotient = 10 // 3
print(quotient)  # Output will be 3
result = 2 ** 3
print(result)  # Output will be 8

#Ans4
my_list = [10, "Hello", 3.14, True, [1, 2], (5, 6), {'a': 1}, None, 'world', False]

for element in my_list:
    print(f"Element: {element}, Type: {type(element)}")

In [9]:
#Ans5
A = 100
B = 5

count = 0


while A % B == 0:
    A = A / B
    count += 1

if count > 0:
    print(count, "times divisible")
else:
    print("A is not divisible by B")

2 times divisible

#Ans6
list1 = [i for i in range(1, 26)]
for num in list1:
    if num % 3 == 0:
        print(num,"is divisible by 3")
    else:
        print(num, "is not divisible by 3")

In [14]:
#Ans7
#mutable: Objects whose state or content can be changed after creation are mutable.
list1 = [1, 2, 3, 4]

list1[2] = 10  # Changing the value at index 2

#Immutable: Objects whose state cannot be changed after creation are immutable.

my_tuple = (1, 2, 3, 4)

# Attempting to change the value at index 2 will result in an error
# my_tuple[2] = 10  # This will raise an error because tuples are immutable

# Creating a new tuple with modified value
new_tuple = my_tuple[:2] + (10,) + my_tuple[3:]